body {
    font-family: "montserrat";
    text-align: center;
}




/*navigation-bar*/


.navbar {
    padding-bottom: 4.5rem;
}

.nav-link {
    font-size: 1.3rem;
    font-weight: 100;
    color: black;
}


.nav-item {
    padding-right: 50px;
}



.navbar-brand {
    font-family: Ubuntu;
    font-weight: 900;
    font-size: 2.5rem;
}

.container-fluid {
    padding: 3% 15%;
}

/*Title*/

.big-heading {
    text-align: left;
    color: white;
    font-size: 4.5rem;
    line-height: 1.5;
    font-weight: 900;
    margin-top: 90px;
    width: 90%;
}

.section-heading {
    font-size:2.5rem;
    line-height: 1.5;
    font-weight: bold;
}

#title {
    background-color: #ff4c68;
}

.title-image {
    transform: rotate(20deg);
    margin-top: 70px;
    margin-left: 80px;
    width: 50%;
}

/* Download-Buttons*/

.download-btn {

    margin-top: 50px;
    margin-right: 20px;
}

/* Feature-Section*/

#features {
    padding: 7% 15%;
}

.feature-box {
    padding: 8%;
}

.feature-icons {
    color: #ef8172;
    margin-bottom: 15px;   
}
.feature-icons:hover {
    color: #ff4c68;
    
}

.feature-titles {
    font-weight: bold;
    font-size: 1.5rem;
}

.feature-description {
    color: #8f8f8f;
}

/* Testimonial-Section*/

#testimonials { 
    background-color: #ef8172;
    color: #fff;
}
.testimonial-text {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 15%;
    border-radius: 100%;
    margin: 25px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 8%;
    margin: 30px;
}

/*Pricing Section*/ 

#pricing {
padding: 100px;
}

.pricing-text {
    font-size: 2.5rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}


/*Call to Action Section*/ 

#cta {
    width: 80%;
    height: 300px;
    background-color: #ff4c68;
}

#cta-title {
    font-size: 3rem;
    font-weight: 900;
    color: white;
    padding: 30px 20px 5px 20px;

}

/*footer*/ 

#footer {
    margin-top: 40px;
}



@media (max-width: 990px) {

    .title-image {
        transform: rotate(0);

    }

    #title {
        text-align: center;
    }
}

@media (max-width: 823px) {

    #cta-title {

        font-size: 2rem;
    }

    #cta-btn {
        font-size: 20px;
    }

}








